@font-face {
  font-family: 'mont-th';
  src: url('../font/Montserrat-Thin-10.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-lt';
  src: url('../font/Montserrat-Light-6.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont';
  src: url('../font/Montserrat-Regular-8.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-md';
  src: url('../font/Montserrat-Medium-7.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-sbd';
  src: url('../font/Montserrat-SemiBold-9.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-bd';
  src: url('../font/Montserrat-Bold-3.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-black';
  src: url('../font/Montserrat-Black-2.otf');font-weight: normal;font-style: normal;
}
*{padding: 0;margin: 0;list-style: none;text-decoration: none;border: none; outline: none;box-sizing: border-box;font-family: 'mont';letter-spacing: 1px;}
img{width: 100%;display: block;}
input,button,textarea{border: transparent; outline: transparent; background: transparent;}
/* body{background: #f6f6f6;transition: .4s;} */
.wid{width: 1660px;margin: 0 auto;}
.flex{display: flex;justify-content: center;align-items: center;;}
.flex-sc{display: flex;align-items: center;}
.flex-sb{display: flex;justify-content: space-between;align-items: center;}
.flex-sa{display: flex;justify-content: space-around;align-items: center;}
small.small{display: inline-block;margin: 0;font-size: 12px;font-family: 'mont-lt';}
.tup{text-transform: uppercase;}
svg{width: 300px;}
.fhd{overflow:hidden;text-overflow:ellipsis;white-space: normal;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3;}
.fhd5{overflow:hidden;text-overflow:ellipsis;white-space: normal;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:5;}


.top-nav{position: fixed;height: 96px;z-index: 777;width: 100%;}
.top-nav.active{background: #000;}
.top-nav.act_color{background: #16489d;}
.nav-inner-box{height: 96px;}
.logo-pic{width: 70px;}
.top-nav a,.top-nav a:before,.top-nav a:after{color: #fff;white-space: nowrap;}
.top-nav .icon-down:before{content: '';}
.top-nav .icon-down:after{content: "\e622";font-size: 14px;margin-left: 6px;vertical-align: -2px;}
.top-bar{flex-direction: column;align-items: flex-end;width: 95%;height: 100%;justify-content: flex-end;}
.top-bar .nav-bar{justify-content: flex-end;flex-shrink: 0;height: 58%;}
.top-bar .icon-cogwheel{margin-bottom: 5px;}
/* .top-nav a:before{vertical-align: -2px;margin-right: 4px;} */
.top-nav .nav{padding-right: 2%;flex-shrink: 0;height: 100%;}
.top-nav .nav li{padding: 10px 18px;height: 100%;position: relative;}
.top-nav .nav>li:hover{background: #16489d;}
.top-nav .nav li.home{display: none;}
/* .top-nav .nav .nav-list:hover .dp-items{display: block;} */
.top-nav .nav li .dp-items{position: absolute;top: 100%;display: none;left: 0;}
.top-nav .nav li .dp-items .dp-list{border-bottom:1px solid #fff;background: #16489d;position: relative;}
.top-nav .nav li .dp-items .dp-list>a{display: flex;justify-content: space-between;align-items: center;}
.top-nav .nav li .dp-items .dp-list:hover .dp2-item{display: block;}
.top-nav .nav li .dp-items .dp-list .dp2-item{position: absolute;top: 0;left: 100%;display: none;border-left: 2px solid transparent;}
.top-nav .nav li .dp-items .dp-list .dp2-item li{border-bottom:1px solid #fff;border-top: 1px solid #16489d;padding: 8px 18px;width: 180px;background: #16489d;}
.top-nav .sea_cn form{border: 1px solid #fff;padding: 1px;margin-right: 8px;}
.top-nav .sea_cn input,.top-nav .sea_cn button{height: 2rem;}
.top-nav .sea_cn input{color: #fff;font-family: 'mont-lt';padding: 0 6px;width: 160px;}
.top-nav .sea_cn button{padding: 0 8px;}
.top-nav .sea_cn button:before{color: #fff;font-size: 14px;}
.top-nav .sea_cn .cn{background: #16489d;width: 36px;height: 36px;font-size: 14px;font-family: 'mont-lt';}
.top-nav .menu-ico{display: none;}


/* banner css */
.banner-box{position: relative;}
.banner-box .swipe{margin-bottom: 0;}
.banner-box .swipe li{margin: 0;position: relative;}
.banner-box .swipe li img{max-width: 100%;display: block;}
.banner-box #pagenavi{position: absolute;top: 66%;left: 50%;transform: translate(-50%);}
.banner-box #pagenavi a{width: 10px;height: 10px;font-size: 0;border-radius: 50%;border: 1px solid #fff;margin: 0 10px;display: inline-block;}
.banner-box #pagenavi a.active{background: #fff;}
.banner-box .swipe .banner-cont{width: 100%;height: 100%;;position: absolute;left: 50%;transform: translate(-50%);z-index: 700;background: transparent;display: flex;flex-direction: column;justify-content: center;color: #fff;text-align: center;}
.banner-box .swipe .banner-cont.in_blist{margin-top: -3%;}
.banner-box .swipe .banner-cont>span{font-size: 32px;text-transform: uppercase;font-family: 'mont-th';}
.banner-box .swipe .banner-cont>p{font-size: 18px;font-family: 'mont-lt';text-align: center;width: 38%;line-height: 1.5rem;margin: 0 auto;}
.banner-box .swipe .banner-cont>h4{font-size: 60px;font-family: 'mont-black';text-transform: uppercase;text-align: center;}
/* .banner-box .swipe .banner-cont .btn{margin: 3% auto 0;} */

.btn{width: 40px;height: 40px;border: 1px solid #fff;border-radius: 50%;font-size: 30px;color: #fff;margin: 2% auto;font-weight: 300;transition: all .3s;}
.btn:hover{background: #16489d;border-color: #16489d;}
.brn1{border-color: #1b1b1b;font-size: #1b1b1b;}

.cont-info.in_scop{background: #606060;}
.cont-info.in_scop .info-items .info-list h3,.cont-info.in_scop .info-items .info-list p.add{color: #fff;}
.cont-info.in_scop .info-items .info-list a{margin: 6% 0 0;}

.sall_boat{position: relative;}
.sall_boat .sb_cont{position: absolute;top: 0;left: 0;width: 100%;height: 100%;flex-direction: column;}
.sall_boat .sb_cont h3{color: #fff;}

.cont-info.res .info-items{flex-direction: row-reverse;}
.cont-info.res .info-items .left-info{padding: 0 0 0 6%;}
.cont-info.res .info-items .right-map{left: 0;right: 100%;}

.rd_items{padding: 4% 0;}
.rd_items .rd_list{width: 32%;align-self: normal;}
.rd_items .rd_list .rd_pic{position: relative;}
.rd_items .rd_list .rd_pic h5{position: absolute;bottom: 5%;left: 5%;font-size: 48px;font-family: 'mont-bd';color: #dfdfdf;text-transform: uppercase;}
.rd_items .rd_list .rd_pic h5 span{font-family: 'mont-bd';font-size: 48px;color: #16489d;}
.rd_items .rd_list .rd_cont{padding: 4%;}
.rd_items .rd_list .rd_cont p{font-size: 18px;font-family: 'mont-lt';}
.rd_items .rd_list .rd_cont p>span{display: block;font-family: 'mont-th';font-size: 14px;margin-bottom: 2%;}
.rd_items .rd_list .rd_cont>span{color: #16489d;margin: 4% 0 0;width: 40px;height: 40px;border-radius: 50%;display: flex;justify-content: flex-start;align-items: center;font-size: 40px;line-height: 1rem;}
.rd_items .rd_list .rd_cont>span:hover{background: #16489d;color: #fff;font-size: 28px;justify-content: center;}




.pb_nav{align-items: flex-start;position: absolute;bottom: 4%;left: 50%;transform: translate(-50%);}
.pb_nav .pbn_list{width: 19%;background: #1b1b1b;}
.pb_nav .pbn_list a{color: #fff;}
.pb_nav .pbn_list .pro_cont{padding: 5%;align-self: normal;}
.pb_nav .pbn_list h4{font-size: 22px;font-family: 'mont-bd';text-transform: uppercase;}
.pb_nav .pbn_list p{font-size: 14px;font-family: 'mont-lt';margin-top: 3%;}
.pb_nav .pbn_list span{width: 72px;height: 140px;background: #8c8c8c;color: #1b1b1b;font-size: 30px;}
.pb_nav .pbn_list:hover{background: #16489d;}
.pb_nav .pbn_list:hover span{color: #16489d;background: #dfdfdf;}

.pro_slide{text-align: center;background: #e7e7e7;padding: 3%;}
.pro_slide .ps-hd>p{color: #1b1b1b;}
.pro_slide svg{filter: contrast(0.8);margin: 2% 0 0;}
.pro_slide .btn{border-color: #16489d;color: #16489d;}
.pro_slide .btn:hover{background: #16489d;color: #fff;}

.pro_slide .swiper-container-vertical>.swiper-wrapper{transform: none!important;flex-direction: row;}
.pro_slide .swiper-container-vertical>.swiper-wrapper .swiper-slide{height: 265px!important;}

/* aside nav */
.aside-nav{background: #16489d;padding: 14px 0;}
.aside-nav .m_nav{justify-content: flex-start;}
.aside-nav .m_nav .mn_list{margin-right: 3.5%;}
.aside-nav .m_nav .mn_list .icon-down{display: none;}
.aside-nav .m_nav a{color: #fff;text-transform: uppercase;font-size: 16px;}
i.jia{display: inline-flex;width: 1rem;height: 1rem;background: #fff;color: #16489d;font-style: normal;margin-right: 16px;font-size: 18px;font-family: mont-lt;}

.bread-nav{padding: 20px 0;}
.bread-nav i{background: #000;color: #fff;}
.bread-nav li{font-family: 'mont-lt';}
.bread-nav span{font-family: 'mont';}

.cont-info{background: #e7e7e7;position: relative;overflow: hidden;}
.reserve{background : #606060;}
.cont-info .info-items{align-items: flex-start;/*padding: 0% 0 4% 0;*/}
.cont-info .info-items .info-list{width: 50%;}
.cont-info .info-items .right-map{position: absolute;right: 0;top: 0;height: 100%;overflow: hidden;}
.cont-info .info-items .right-map a{width: 110%;display: block;}
.cont-info.in_scop .info-items .info-list .btn{margin-top: 6%;}
.cont-info.in_scop .info-items .info-list a{margin: 0;}

.cont-info .info-items .left-info{margin: 4% 0 0;}
.cont-info .info-items .left-info h4{font-size: 24px;color: #16489d;font-family: 'mont-bd';margin-bottom: 2%;}
.cont-info .info-items .left-info p{font-size: 18px;color: #1b1b1b;font-family: 'mont-th';margin: 2% 0;line-height: 1.5rem;}
.cont-info .info-items .left-info p b{display: block;font-size: 24px;font-family: 'mont-bd';margin-bottom: 1%;}

.about .info-items .left-info{padding: 0 6% 0 0;}
.cont-info .info-items .info-list h3{color: #1b1b1b}
.reserve .info-items{flex-direction: row-reverse;}
.cont-info.reserve .info-items .right-map{left: 0;}
.reserve .info-items .left-info{padding: 0 0 0 6%;}
.reserve .info-items .left-info h3,.reserve .info-items .left-info p{color: #fff;}


.form-box{background: url(../images/contact-.jpg)no-repeat top center;background-size: cover;padding: 6%;}
.qty{background:url(../images/comp-3.jpg)no-repeat top center;background-size: cover;padding: 8%;}
.form-box form{flex-direction: column;}
.form-box form h3,.qty h3{color: #fff;text-align: center;}
.form-box form h3,.cont-info .info-items .info-list h3,.qty h3,.pro_slide h3,.sall_boat .sb_cont h3{font-size: 72px;font-family: 'mont-bd';text-transform: uppercase;line-height: 1;}
.form-box form h3 span,.cont-info .info-items .info-list h3 span,.qty h3 span,.pro_slide h3 span,.sall_boat .sb_cont h3 span{color: #16489d;font-family: 'mont-bd';}
.form-box form p,.qty p,.sall_boat .sb_cont p{color: #fff;margin-top: 0.5%;}
.qty p,.pro_slide .ps-hd>p,.sall_boat .sb_cont p{width: 60%;margin: 1% auto;text-align: center;font-family: 'mont-lt';line-height: 1.5rem;}
.form-box form .form{flex-wrap: wrap;margin-top: 2%;}
.form-box form .form input{width: 48%;line-height: 2rem;background: #fff;margin: 1% 0;padding: 0 10px;}
.form-box form .form input::placeholder,.form-box form .form textarea{color: #929292;font-size: 14px;font-family: 'mont-lt';}
.form-box form .form textarea{width: 100%;height: 120px;background: #fff;padding: 10px;margin: 1% 0;}
.form-box form .cont-btn{width: 200px;background: #16489d;line-height: 2.5rem;margin-top: 1.6%;font-family: 'mont-bd';color: #fff;font-size: 21px;}

.ab-cont{padding: 3% 0 4%;text-align: center;}
.ab-cont p{width: 60%;margin: 1.6% auto 3%;line-height: 1.5rem;}
.ab-cont a{padding: 1% 4%;background: #16489d;color: #fff;}  

/* news */
.news-cont{align-items: flex-start;margin: 2% auto 3%;}
.news-cont .news-items{width: 50%;padding: 3%;}
.news-cont .news-items li{padding: 4% 0;}
.news-cont .nleft li{border-bottom: 1px solid #e7e7e7;}
.news-cont .nright{background: #f2f2f2;border-radius: 10px;box-shadow: 0 0 10px rgba(0,0,0,.2);}
.news-cont h3{font-size: 48px;color: #1b1b1b;font-family: 'mont-bd';text-transform: uppercase;margin-bottom: 2%;}
.news-cont h3 span{color: #16489d;font-family: 'mont-bd';font-size: 48px;}
.news-cont span,.news-cont p{font-size: 14px;font-family: 'mont-th';color: #1b1b1b;}
.news-cont h5{margin: 1% 0 2%;}
.news-cont h5 a{font-family: 'mont-bd';font-size: 24px;color: #1b1b1b;}
.news-cont p{font-family: 'mont';line-height: 1.5rem;}
.news-cont .nbtn{display: flex;justify-content: center;align-items: center;width: 30px;height: 30px;border: 1px solid #16489d;color: #16489d;border-radius: 50%;margin: 3% 0 0;font-size: 22px;transition: all .3s;}
.news-cont .news-list .nbtn:hover{background: #16489d;color: #fff;}

/* news detail */
.news-cont .ndright{width: 40%;background: #f2f2f2;border-radius: 10px;box-shadow: 0 0 10px rgba(0,0,0,.2);}
.news-cont .ndleft{width: 60%;margin-right: 6%;text-align: center;}
.news-cont .ndleft header{padding: 2% 0;border-bottom: 1px solid #e7e7e7;}
.news-cont .ndleft h5{font-size: 24px;font-family: 'mont-hd';color: #1b1b1b;text-align: center;}
.news-cont .ndleft p{text-align: left;margin: 2% 0;font-family: 'mont-lt';}

/* footer */
.footer{background: #000;border-top: 6px solid #16489d;padding: 3% 0}
.footer .in-fot{align-items: flex-start;}
.footer .in-fot .fp-list,.footer .in-fot .fot-right{margin-top: 5%;}
.footer .in-fot .fp-list a{line-height: 1.5rem;}
.footer a{display: flex;color: #fff;font-family: 'mont-lt';}
.footer .fot-left a.fot-logo{width: 80px;margin-bottom: 8%;}
.footer .fot-left{width: 12%;}
.footer .fot-right{width: 25%;/*margin-left: 5%;*/}
.footer .fot-left a{font-family: 'mont';margin: 8% 0;white-space: nowrap;}
.footer h4{font-size: 13px;color: #fff;font-family: 'mont';margin-bottom: 12px;}
.footer .fot-center{align-items: flex-start;width: 85%;}


.footer .fot-right .social a{display: inline-flex;width: 30px;height: 30px;justify-content: center;align-items: center;}
.footer .fot-right .social a i{font-size: 21px;}
/* .footer .fot-right .social a:nth-child(2){border-radius: 50%;background: #fff;} */
/* .footer .fot-right .social a:nth-child(2) i{color: #000;} */
.footer .fot-right p{color: #fff;font-size: 13px;margin: 6px 0;line-height: 1.3rem;}
.footer .fot-right p span{font-family: 'mont-lt';}

.desi{padding: 1.5% 0;}
.desi p,.desi p a{font-size: 13px;color: #1b1b1b;white-space: nowrap;}
.desi p a.xml{margin-left: 30px;}


/* pro det */
.pro-ban{background: url(../images/pro-bg.png)no-repeat top center;background-size: cover;padding: 2% 0;}
.pro-ban .bx-wrapper .bx-viewport{box-shadow: none;border: none;left: 0;background: none;}
.pro-ban .bx-wrapper .bx-controls-direction a{width: 44px;height: 44px;}
.pro-ban .bx-wrapper .bx-controls-direction a.bx-prev{background: url(../images/switch.png);background-position: 0 100%;}
.pro-ban .bx-wrapper .bx-controls-direction a.bx-next{background: url(../images/switch.png);background-position: 100% 0;right: 0;}
.pro-ban .pb-cont{background: #fff;text-align: center;padding: 1% 0;}
.pro-ban .pb-cont h5,.pro-ban .pb-cont p{color: #1b1b1b;line-height: 2rem;}
.pro-ban .pb-cont h5{font-size: 24px;font-family: 'mont-bd';}
.pro-ban .pb-cont p{font-size: 18px;font-family: 'mont-lt';margin-bottom: 1%;}
.pro-ban .pb-cont svg{width: 280px;}

.size-box{background: #e7e7e7;position: relative;justify-content: flex-end;}
/* .size-box .pic-box{width: 50%;position: absolute;right: 0;background: url(../images/det-3.jpg)no-repeat top center;} */
.size-box .pic-box,.size-box .sb-items li{width: 50%;}
.size-box .sb-items{position: absolute;top: 0;left: 50%;transform: translate(-50%);height: 100%;align-items: flex-start;padding: 4% 0;}
.size-box .sb-items li h5,.pro-details h5,.red-more h5,.scopes li h5{font-size: 24px;font-family: 'mont-bd';color: #1b1b1b;text-transform: uppercase;margin-bottom: 3%;}
.size-box .sb-items li.in-size{padding-right: 4%;}
.size-box .sb-items li.in-size p{font-size: 14px;font-family: 'mont-lt';color: #1b1b1b;line-height: 1.2rem;}

.det-btn{margin-top: 2%;}
.det-btn a{width: 200px;height: 46px;color: #fff;display: inline-flex;font-size: 18px;font-family: 'mont-lt';}
.det-btn a i{font-size: 28px;}
.det-btn .dwd{background: #16489d;justify-content: space-evenly;}
.det-btn .pcontact{background: #1b1b1b;}

.size-box .sb-items li.in-de{padding-left: 4%;}
.size-box .sb-items li.in-de h5,.size-box .sb-items li.in-de p,.red-more h5,.scopes li h5{color: #fff}
.size-box .sb-items li.in-de p,.pc-sec .pcd-right p{font-family: 'mont-lt';font-size: 14px;}
.size-box .sb-items li.in-de p span,.pc-sec .pcd-right p span{display: block;line-height: 1.5rem;font-family: 'mont-lt';}
.size-box .sb-items li img{filter: brightness(0.91);}

.pro-details{padding: 3% 0;text-align: center;}
.pro-details li{width: 80%;margin: 0 auto;}
.pro-details li>a{width: 30%;display: flex;margin: 4% 0 0;}
.pro-details li>p>span{font-size: 14px;display: block;line-height: 1.5rem;font-family: 'mont-lt';text-align: left;}

.red-more{text-align: center;padding: 1.5% 0;background: #1b1b1b;}
.red-more h5{margin: 0;}
.pro-items{margin: 3% auto;}
.pro-items li{width: 19%;}
.pro-items li .pro-desc{background: #8c8c8c;padding: 4% 6%;transition: all .3s;cursor: pointer;text-align: left;}
.pro-items li:hover .pro-desc{background: #16489d;}
.pro-items li .pro-desc h6,.pro-items li .pro-desc p{font-size: 14px;color: #fff;}
.pro-items li .pro-desc h6{font-family: 'mont-th';margin-bottom: 2%;}
.pro-items li .pro-desc p{font-family: 'mont-bd';}

.size-box .sb-items .in-size .prod-de{margin-top: 6%;;}
.size-box .sb-items .in-size .prod-de .db-items{align-items: flex-start;margin: 6% 0;}
.size-box .sb-items .in-size .prod-de .db-items>li{width: auto;}
.size-box .sb-items .in-size .prod-de .db-items>hr{border-left: 1px solid #1b1b1b;height: 30px;margin-top: 1%;}
.size-box .sb-items .in-size .prod-de h6,.size-box .sb-items .in-size .prod-de p{color: #1b1b1b;text-transform: uppercase;}
.size-box .sb-items .in-size .prod-de h6{font-size: 24px;font-family: 'mont-bd';margin: 2% 0;}
.size-box .sb-items .in-size .prod-de p{font-size: 14px;font-family: 'mont-lt';}
.size-box .sb-items .in-size .prod-de .db-pic{justify-content: flex-start;}
.size-box .sb-items .in-size .prod-de .db-pic img{width: 36%;margin-right: 10px;}

.scopes .in-scop{width: 50%;align-self: normal;}
.scopes li{padding: 3% 0;}
.scopes li p{font-size: 14px;font-family: 'mont-lt';color: #fff;line-height: 1.5rem;margin-top: 5%;}
.scopes .sleft{background: #16489d;}
.scopes .sright{background: #606060;}
.scopes .sleft .ins-left{margin-left: 15%;margin-right: 4%;}
.scopes .sright .ins-right{margin-right: 130px;margin-left: 4%;justify-content: flex-start;align-items: flex-start;}
.scopes .sright .ins-right img{width: 30%;}
.scopes .sright .ins-right .dw-scop{margin-left: 5%;}
.scopes .sright .ins-right .dw-scop span{display: block;font-family: 'mont-th';font-size: 14px;}
.dwd1{width: 200px;height: 46px;color: #16489d;display: inline-flex;font-size: 18px;font-family: 'mont-lt';background: #fff;justify-content: space-evenly;margin-top: 5%;}
.dwd1 i{font-size: 28px;}

.pro-clas{background: url(../images/pro-bg.png)no-repeat;background-size: contain;background-position: 0 -180%;}
.pro-clas .pc-items{padding: 2% 0 3.5%;}
.pro-clas .pc-items .pc-list{box-shadow: 4px 4px 16px rgba(0,0,0,.3);}
.pro-clas .pc-items li i.pcount{font-size: 14px;font-family: 'mont-lt';}
.pro-clas .pc-items a{padding: 0 10px;background: #16489d;height: 2.6rem;color: #fff;margin-left: 1px;font-family: 'mont-bd';text-transform: uppercase;}
.pro-clas .pc-items a:nth-child(2),.pro-clas .pc-items a.pclas{margin-left: 0;}
.pro-clas .pc-items a.pclas,.pro-clas .pc-items a:hover{background: #e7e7e7;color: #16489d;}

.pc-sec{align-items: flex-start;padding: 1% 0 2%;border-bottom: 1px solid #e7e7e7;}
.pc-sec .pcd-left{width: 50%;}
.pc-sec .pcd-right{width: 47%;padding-top: 1%;}
.pc-sec .pcd-right b{font-size: 14px;}
.pc-sec .pcd-right h4{margin: 2% 0;}
.pc-sec .pcd-right h4>a{font-size: 24px;font-family: 'mont-bd';color: #1b1b1b;}
/* .pro-clas .pc-sec .pcd-right p */