@font-face {
  font-family: 'mont-th';
  src: url('../font/Montserrat-Thin-10.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-lt';
  src: url('../font/Montserrat-Light-6.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont';
  src: url('../font/Montserrat-Regular-8.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-md';
  src: url('../font/Montserrat-Medium-7.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-sbd';
  src: url('../font/Montserrat-SemiBold-9.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-bd';
  src: url('../font/Montserrat-Bold-3.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-black';
  src: url('../font/Montserrat-Black-2.otf');font-weight: normal;font-style: normal;
}
*{padding: 0;margin: 0;list-style: none;text-decoration: none;border: none; outline: none;box-sizing: border-box;font-family: 'mont';letter-spacing: 1px;}
img{width: 100%;display: block;}
input,button,textarea{border: transparent; outline: transparent; background: transparent;}
/* body{background: #f6f6f6;transition: .4s;} */
.wid{width: 1660px;margin: 0 auto;}
.flex{display: flex;justify-content: center;align-items: center;;}
.flex-sc{display: flex;align-items: center;}
.flex-sb{display: flex;justify-content: space-between;align-items: center;}
.flex-sa{display: flex;justify-content: space-around;align-items: center;}
small.small{display: inline-block;margin: 0;font-size: 12px;font-family: 'mont-lt';}
.tup{text-transform: uppercase;}
svg{width: 300px;}


.top-nav{position: fixed;height: 96px;z-index: 777;width: 100%;}
.top-nav.active{background: #000;}
.top-nav.act_color{background: #16489d;}
.nav-inner-box{height: 96px;}
.logo-pic{width: 70px;}
.top-nav a,.top-nav a:before,.top-nav a:after{color: #fff;white-space: nowrap;}
.top-nav .icon-down:before{content: '';}
.top-nav .icon-down:after{content: "\e622";font-size: 14px;margin-left: 6px;vertical-align: -2px;}
.top-bar{flex-direction: column;align-items: flex-end;width: 95%;height: 100%;justify-content: flex-end;}
.top-bar .nav-bar{justify-content: flex-end;flex-shrink: 0;height: 58%;}
.top-bar .icon-cogwheel{margin-bottom: 5px;}
/* .top-nav a:before{vertical-align: -2px;margin-right: 4px;} */
.top-nav .nav{padding-right: 2%;flex-shrink: 0;height: 100%;}
.top-nav .nav li{padding: 10px 18px;height: 100%;position: relative;}
.top-nav .nav>li:hover{background: #16489d;}
.top-nav .nav li.home{display: none;}
/* .top-nav .nav .nav-list:hover .dp-items{display: block;} */
.top-nav .nav li .dp-items{position: absolute;top: 100%;display: none;left: 0;}
.top-nav .nav li .dp-items .dp-list{border-bottom:1px solid #fff;background: #16489d;position: relative;}
.top-nav .nav li .dp-items .dp-list>a{display: flex;justify-content: space-between;align-items: center;}
.top-nav .nav li .dp-items .dp-list:hover .dp2-item{display: block;}
.top-nav .nav li .dp-items .dp-list .dp2-item{position: absolute;top: 0;left: 100%;display: none;border-left: 2px solid transparent;}
.top-nav .nav li .dp-items .dp-list .dp2-item li{border-bottom:1px solid #fff;border-top: 1px solid #16489d;padding: 8px 18px;width: 180px;background: #16489d;}
.top-nav .sea_cn form{border: 1px solid #fff;padding: 1px;margin-right: 8px;}
.top-nav .sea_cn input,.top-nav .sea_cn button{height: 2rem;}
.top-nav .sea_cn input{color: #fff;font-family: 'mont-lt';padding: 0 6px;width: 160px;}
.top-nav .sea_cn button{padding: 0 8px;}
.top-nav .sea_cn button:before{color: #fff;font-size: 14px;}
.top-nav .sea_cn .cn{background: #16489d;width: 36px;height: 36px;font-size: 14px;font-family: 'mont-lt';}
.top-nav .menu-ico{display: none;}


/* banner css */
.banner-box{position: relative;}
.banner-box .swipe{margin-bottom: 0;}
.banner-box .swipe li,.banner-box .swipe li a{margin: 0;position: relative;}
.banner-box .swipe li img{max-width: 100%;display: block;}
.banner-box #pagenavi{position: absolute;bottom: 16px;left: 50%;transform: translate(-50%);}
.banner-box #pagenavi a{width: 10px;height: 10px;font-size: 0;border-radius: 50%;border: 1px solid #fff;margin: 0 10px;display: inline-block;}
.banner-box #pagenavi a.active{background: #fff;}
.banner-box .swipe .banner-cont{width: 100%;height: 100%;;position: absolute;left: 50%;transform: translate(-50%);z-index: 700;background: transparent;display: flex;flex-direction: column;justify-content: center;color: #fff;}
.banner-box .swipe .banner-cont>span{font-size: 32px;text-transform: uppercase;font-family: 'mont-th';}
.banner-box .swipe .banner-cont>p{font-size: 18px;font-family: 'mont-lt';text-align: center;width: 38%;line-height: 1.3rem;margin: 0 auto;}
.banner-box .swipe .banner-cont>h4{font-size: 60px;font-family: 'mont-black';text-transform: uppercase;text-align: center;}
.banner-box .swipe .banner-cont .btn{margin: 3% auto 0;}

/* aside nav */
.aside-nav{background: #16489d;padding: 14px 0;}
.aside-nav .m_nav{justify-content: flex-start;}
.aside-nav .m_nav .mn_list{margin-right: 3.5%;}
.aside-nav .m_nav a{color: #fff;text-transform: uppercase;font-size: 16px;}
i.jia{display: inline-flex;width: 1rem;height: 1rem;background: #fff;color: #16489d;font-style: normal;margin-right: 16px;font-size: 18px;font-family: mont-lt;}

.bread-nav{padding: 18px 0;}
.bread-nav i{background: #000;color: #fff;}
.bread-nav li{font-family: 'mont-lt';}
.bread-nav span{font-family: 'mont';}

.cont-info{background: #e7e7e7;position: relative;overflow: hidden;}
.reserve{background : #606060;}
.cont-info .info-items{align-items: flex-start;padding: 0% 0 4% 0;}
.cont-info .info-items .info-list{width: 50%;}
.cont-info .info-items .right-map{position: absolute;right: 0;top: 0;height: 100%;}

.cont-info .info-items .left-info{margin: 4% 0;}
.cont-info .info-items .left-info h4{font-size: 24px;color: #16489d;font-family: 'mont-bd';margin-bottom: 2%;}
.cont-info .info-items .left-info p{font-size: 18px;color: #1b1b1b;font-family: 'mont-lt';margin: 2% 0;line-height: 1.5rem;}
.cont-info .info-items .left-info p b{display: block;font-size: 24px;font-family: 'mont-bd';margin-bottom: 1%;}

.about .info-items .left-info{padding: 0 6% 0 0;}
.cont-info .info-items .info-list h3{color: #1b1b1b}
.reserve .info-items{flex-direction: row-reverse;}
.cont-info.reserve .info-items .right-map{left: 0;}
.reserve .info-items .left-info{padding: 0 0 0 6%;}
.reserve .info-items .left-info h3,.reserve .info-items .left-info p{color: #fff;}


.form-box{background: url(../images/contact-.jpg)no-repeat top center;background-size: cover;padding: 6%;}
.qty{background:url(../images/comp-3.jpg)no-repeat top center;background-size: cover;padding: 8%;}
.form-box form{flex-direction: column;}
.form-box form h3,.qty h3{color: #fff;text-align: center;}
.form-box form h3,.cont-info .info-items .info-list h3,.qty h3{font-size: 72px;font-family: 'mont-bd';text-transform: uppercase;}
.form-box form h3 span,.cont-info .info-items .info-list h3 span,.qty h3 span{color: #16489d;font-family: 'mont-bd';}
.form-box form p,.qty p{color: #fff;margin-top: 0.5%;}
.qty p{width: 60%;margin: 1% auto;text-align: center;font-family: 'mont-lt';line-height: 1.5rem;}
.form-box form .form{flex-wrap: wrap;margin-top: 2%;}
.form-box form .form input{width: 48%;line-height: 2rem;background: #fff;margin: 1% 0;padding: 0 10px;}
.form-box form .form input::placeholder,.form-box form .form textarea{color: #929292;font-size: 14px;font-family: 'mont-lt';}
.form-box form .form textarea{width: 100%;height: 120px;background: #fff;padding: 10px;margin: 1% 0;}
.form-box form .cont-btn{width: 200px;background: #16489d;line-height: 2.5rem;margin-top: 1.6%;font-family: 'mont-bd';color: #fff;font-size: 21px;}

.ab-cont{padding: 3% 0 4%;text-align: center;}
.ab-cont p{width: 60%;margin: 1.6% auto 3%;line-height: 1.5rem;}
.ab-cont a{padding: 1% 4%;background: #16489d;color: #fff;}  

/* news */
.news-cont{align-items: flex-start;margin: 2% auto 3%;}
.news-cont .news-items{width: 50%;padding: 3%;}
.news-cont .news-items li{padding: 4% 0;}
.news-cont .nleft li{border-bottom: 1px solid #e7e7e7;}
.news-cont .nright{background: #f2f2f2;border-radius: 10px;box-shadow: 0 0 10px rgba(0,0,0,.2);}
.news-cont h3{font-size: 48px;color: #1b1b1b;font-family: 'mont-bd';text-transform: uppercase;margin-bottom: 2%;}
.news-cont h3 span{color: #16489d;font-family: 'mont-bd';font-size: 48px;}
.news-cont span,.news-cont p{font-size: 14px;font-family: 'mont-th';color: #1b1b1b;}
.news-cont h5{margin: 1% 0 2%;}
.news-cont h5 a{font-family: 'mont-bd';font-size: 24px;color: #1b1b1b;}
.news-cont p{font-family: 'mont';line-height: 1.5rem;}
.news-cont .nbtn{display: flex;justify-content: center;align-items: center;width: 30px;height: 30px;background: #16489d;color: #fff;border-radius: 50%;margin: 3% 0 0;font-size: 22px;}

/* news detail */
.news-cont .ndright{width: 40%;background: #f2f2f2;border-radius: 10px;box-shadow: 0 0 10px rgba(0,0,0,.2);}
.news-cont .ndleft{width: 60%;margin-right: 6%;text-align: center;}
.news-cont .ndleft header{padding: 2% 0;border-bottom: 1px solid #e7e7e7;}
.news-cont .ndleft h5{font-size: 24px;font-family: 'mont-hd';color: #1b1b1b;text-align: center;}
.news-cont .ndleft p{text-align: left;margin: 2% 0;font-family: 'mont-lt';}

/* footer */
.footer{background: #000;border-top: 6px solid #16489d;padding: 3% 0}
.footer .in-fot{align-items: flex-start;}
.footer .in-fot .fp-list,.footer .in-fot .fot-right{margin-top: 5%;}
.footer .in-fot .fp-list a{line-height: 1.5rem;}
.footer a{display: flex;color: #fff;font-family: 'mont-lt';}
.footer .fot-left a.fot-logo{width: 80px;margin-bottom: 8%;}
.footer .fot-left{width: 12%;}
.footer .fot-right{width: 25%;/*margin-left: 5%;*/}
.footer .fot-left a{font-family: 'mont';margin: 8% 0;white-space: nowrap;}
.footer h4{font-size: 13px;color: #fff;font-family: 'mont';margin-bottom: 12px;}
.footer .fot-center{align-items: flex-start;width: 85%;}


.footer .fot-right .social a{display: inline-flex;width: 30px;height: 30px;justify-content: center;align-items: center;}
.footer .fot-right .social a i{font-size: 21px;}
/* .footer .fot-right .social a:nth-child(2){border-radius: 50%;background: #fff;} */
/* .footer .fot-right .social a:nth-child(2) i{color: #000;} */
.footer .fot-right p{color: #fff;font-size: 13px;margin: 6px 0;line-height: 1.3rem;}
.footer .fot-right p span{font-family: 'mont-lt';}

.desi{padding: 1.5% 0;}
.desi p,.desi p a{font-size: 13px;color: #1b1b1b;white-space: nowrap;}
.desi p a.xml{margin-left: 30px;}
